html,body{
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#container{
  border: 2px solid black;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh;
  width: 50vw;
}

#usernameContainer,#passwordContainer{
  padding: 1.5em;
}

#loginButton{
  align-self: flex-end;
  justify-self: flex-end;
  margin-top:auto;
  padding-right: 1em;
  padding-bottom: 1em;
}

#credentials{
  align-self: center;
  justify-self: center;
  margin-top: auto;
}