html,body{
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#container{
  border: 2px solid black;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh;
  width: 50vw;
}

#usernameContainer,#passwordContainer{
  padding: 1.5em;
}

#loginButtonLoginDiv,#registerButtonRegisterDiv{
  align-self: flex-end;
  justify-self: flex-end;
  padding-right: 1em;
  padding-bottom: 1em;
}

#credentials{
  align-self: center;
  justify-self: center;
  margin-top: auto;
}

#usernameInput,#passwordInput{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(223, 255, 244);
}

#registerButtonLoginDiv,#loginButtonRegisterDiv{
  align-self: flex-start;
  padding-left: 1em;
}

#auth{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-top: auto;
  width: 100%;
}

#title{
  margin-bottom: 0;
}

#usernameLabel,#passwordLabel{
  font-size: large;
}

#registerButtonLogin,#loginButtonRegister{
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

#registerButtonLogin:hover,#loginButtonRegister:hover{
  color: blue;
  font: large;
}